@import '../_sass/1-abstracts/colors';
@import '../_sass/2-vendor/bootstrap';
.home {
    margin-top: 4%;
    margin-bottom: -5%;

     &__image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 13px;
     }
    &__image img {
        width:260px;
        height: 250px;
        border: 5px solid $color-grey;
        border-radius: 5px;
    }

    &__image img:nth-child(2) {
         margin-top: 32%;
    }



    &__content {
        margin-top: 5%;

        h2 {
         font-size: 50px;   
        }
        
     
    }

    &__content h2:nth-child(1) {
        color: $color-pink;
    }
        
    &__content h2:nth-child(2) {
        font-size: 40px;
        font-weight: bold;
    }
    &__content h2:nth-child(3) {
        color: $color-pink;
        }


        &__routes {
            margin-top: 5%;
        }


        .nav-products {
            color: $color-grey;
            text-decoration: underline;
            font-weight: lighter;
            font-size: 25px;
        }

        .nav-products:hover {
            color: $color-pink;
        }

}