@import '../../_sass/2-vendor/bootstrap';
@import '../../_sass/1-abstracts/colors';


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.header {
 margin-top: 1%;
 border-bottom: 1px solid lightgrey;
  &__link {
    color: $color-black;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $color-pink;
    text-decoration:none;

  }

  &__link:hover {
    color: $color-pink;
    text-decoration:none;
  }


  &__nav {
    display: flex;
    list-style: none;

  }

  .nav-link {
    color: $color-grey;
    text-decoration: double;
    font-weight: bold;
  }

  .nav-link:hover {
    color: $color-pink;
  }

  button {
    border: 2px solid $color-grey;
    background-color: $color-white;
    border-radius: 2px;
  }

  button:hover {
    color: $color-white;
    background-color: $color-pink;
  }

  

}